@charset "utf-8";
@import '../../styles/global.scss';

.l-header__logo {
  text-align: center;
  height: 60px;

  a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 6px;
  }

  .logo {
    display: block;
    width: 214px;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  p {
    color: #1a1a1a;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: .08em;
    padding-top: 4px;
  }
}
