@charset "utf-8";
@import '../../styles/global.scss';

/* header
------------------------ */

.l-header {
  background-color: $headerBgColor;
  height: 60px;
}

.u-body-mask {
  .l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .l-header + .c-nav-category {
    margin-top: 60px;
  }
}
