@charset "utf-8";
@import '../../styles/global.scss';

.c-nav-category {
  position: relative;
  z-index: 1;
  background-color: #fff;
  height: 56px;

  .c-nav-category__wrap {
    max-width: 1226px;
    margin: 0 auto;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  // arrow
  .c-nav-category__arw {
    width: 56px;
    a {
      position: relative;
      z-index: 0;
      display: block;
      width: 100%;
      height: 56px;
      background-image: url(../../static/nav/nav_arw_li.png);
      background-repeat: no-repeat;
      // background-position: 0 0;
      background-size: 1px 56px;

      img {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;

        top: 50%;
        margin-top: -10px;
      }
    }

    &--left {
      a {
        background-position: right center;

        img {
          left: 18px;
        }
      }
    }

    &--right {
      a {
        background-position: left center;

        img {
          right: 16px;
        }
      }
    }
  }

  // menu
  .c-nav-category__menu {
    overflow: hidden;
    flex: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    display: flex;
    flex-wrap: nowrap;

    ul {
      display: flex;
      flex-shrink: 0;
      width: 100%;

      li {
        flex-shrink: 0;
        width: 20%;
        height: 56px;

        background-image: url(../../static/nav/nav_menu_li.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 1px 56px;

        a {
          box-sizing: border-box;
          text-align: center;
          display: block;
          height: 56px;
          padding-top: 21px;

          color: $globalMenuTxtColor;
          font-size: 14px;
          line-height: 16px;
          font-weight: bold;
          letter-spacing: .08em;
          border-bottom: 0 solid transparent;
        }
      }

      &:first-child li:first-child {
        background-image: none;
      }

      li.is-active {
        a {
          border-bottom: 4px solid $globalMenuActiveBorder;
        }
      }
    }

    .c-nav-category__menu::-webkit-scrollbar {
      display: none;
    }

    .c-nav-category__menu {
      -ms-overflow-style: none; /* IE */
      overflow: -moz-scrollbars-none; /* Firefox */
    }
  }

}
