@charset "utf-8";

/* article
--------------------------------------------- */
.l-content--post {
  padding: 80px 0 30px;
}

.p-article {
  &__content {
    margin-bottom: 60px;
  }

  &__footer {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .l-content--post {
    padding: 65px 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .l-content--post {
    padding: 67px 0 30px;
  }

  .l-content--post .l-wrap__outer {
    padding: 0 44px;
  }
}

@media screen and (max-width: 600px) {
  .l-content--post {
    padding: 40px 0 20px;
  }

  .l-content--post .l-wrap__outer {
    padding: 0 30px;
  }

  .p-article {
    &__content {
      margin-bottom: 30px;
    }

    &__footer {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  .l-content--post {
    padding: 30px 0 10px;
  }

  .l-content--post .l-wrap__outer {
    padding: 0 13px;
  }

  .p-article {
    &__header {
      margin-bottom: 25px;
    }

    &__content {
      margin-bottom: 25px;
      padding: 0 10px;
    }

    &__footer {
      margin-bottom: 40px;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 320px) {
  .p-article {
    &__content {
      padding: 0;
    }

    &__footer {
      padding: 0;
    }
  }
}

/* article-header
----------------------------- */
.p-article__header {
  text-align: center;
  margin-bottom: 50px;

  h1 {
    text-align: center;
    color: $posth1TxtColor;
    font-size: 34px;
    line-height: 54px;
    font-weight: 600;
    letter-spacing: .18em;

    max-width: 650px;
    margin: 0 auto 30px;
  }

  p.date {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: $baseTxtColor;
    font-size: 21px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .08em;

    margin-bottom: 37px;
  }

  .post-date {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: $baseTxtColor;
    margin-bottom: 34px;

    letter-spacing: -.35em;

    .date,
    .update {
      display: inline-block;
      vertical-align: top;
      // letter-spacing: normal;
      white-space: normal;

      font-size: 21px;
      line-height: 1;
      font-weight: 600;
      letter-spacing: .08em;
    }

    .update {
      position: relative;

      margin-left: 14px;
      padding-left: 14px;

      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 0;

        height: 18px;
        width: 1px;
        background-color: #8c8c8c;
      }

      span {
        font-size: 16px;
        letter-spacing: .04em;
        margin-left: 7px;
      }
    }
  }

  .eyecatch-image {
    position: relative;

    .img-box {
      box-shadow: 0 0 0 1px rgba(11, 3, 6, .05) inset;

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
        position: relative;
        z-index: -1;
      }
    }

    .badge-favorite {
      top: -24px;
      right: 10px;

      a {
        width: 48px;
        height: 48px;
      }
    }

    .badge-category {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      a {
        font-size: 12px;
        line-height: 16px;

        min-width: 100px;
        height: 27px;
        padding: 5px 15px 0;
      }
    }
  }

  &:not(.cate-dailycode) .eyecatch {
    margin-right: calc(40% - 40vw);
    margin-left: calc(40% - 40vw);
    padding: 0 80px;

    .eyecatch-image {
      max-width: 960px;
      margin: 0 auto;

      .img-box {
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        width: 100%;
        height: 504px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .badge-favorite {
        right: 39px;
      }

      .badge-category {
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .p-article__header {
    h1 {
      font-size: 32px;
      line-height: 52px;
      max-width: 634px;
      margin: 0 auto 30px;
    }

    &:not(.cate-dailycode) .eyecatch {
      padding: 0 60px;

      .eyecatch-image {
        .img-box {
          height: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .p-article__header {
    h1 {
      font-size: 32px;
      line-height: 50px;
      max-width: 634px;
      margin: 0 auto 47px;
      // letter-spacing: .1em;
    }

    p.date {
      font-size: 20px;

      margin-bottom: 45px;
      margin-top: -10px;
    }

    .post-date {
      margin-bottom: 41px;
      margin-top: -10px;

      .date,
      .update {
        font-size: 20px;
      }
    }

    &:not(.cate-dailycode) .eyecatch {
      margin-right: -44px;
      margin-left: -44px;
      padding: 0;

      .eyecatch-image {
        .img-box {
          height: 403px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .p-article__header {
    &:not(.cate-dailycode) .eyecatch {
      margin-right: -44px;
      margin-left: -44px;

      .eyecatch-image {
        .img-box {
          height: 320px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .p-article__header {
    margin-bottom: 35px;

    h1 {
      font-size: 22px;
      line-height: 36px;
      max-width: 430px;
      margin: 0 auto 30px;
    }

    p.date {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: -10px;
    }

    .post-date {
      margin-bottom: 24px;
      margin-top: -10px;

      .date,
      .update {
        font-size: 18px;
      }

      .update {
        margin-left: 12px;
        padding-left: 12px;

        &:before {
          top: 1px;
          height: 18px;
        }

        span {
          font-size: 15px;
          margin-left: 6px;
        }
      }
    }

    .eyecatch-image {
      .badge-favorite {
        top: -20px;
        right: 4px;

        a {
          width: 40px;
          height: 40px;
        }
      }

      .badge-category {
        top: 0;
        left: 0;

        a {
          font-size: 12px;
          line-height: 12px;
          min-width: 80px;
          height: 26px;
          padding: 6px 10px 0;
        }
      }
    }

    &:not(.cate-dailycode) .eyecatch {
      margin-right: -30px;
      margin-left: -30px;

      .eyecatch-image {
        .img-box {
          height: 260px;
        }

        .badge-favorite {
          right: 14px;
        }

        .badge-category {
          left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .p-article__header {
    margin-bottom: 30px;

    h1 {
      font-size: 19px;
      line-height: 28px;
      max-width: 300px;
      margin: 0 auto 24px;
    }

    p.date {
      font-size: 17px;
      margin-bottom: 24px;
      margin-top: -9px;
    }

    .post-date {
      margin-bottom: 17px;
      margin-top: -9px;

      .date,
      .update {
        font-size: 17px;
      }

      .update {
        margin-left: 10px;
        padding-left: 12px;

        &:before {
          top: 1px;
          height: 16px;
        }

        span {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }

    .eyecatch-image {
      .badge-favorite {
        top: -14px;

        a {
          width: 28px;
          height: 28px;
        }
      }

      .badge-category {
        top: 0;

        a {
          font-size: 11px;
          line-height: 11px;
          min-width: 70px;
          height: 22px;
          padding: 6px 10px 0;
        }
      }
    }

    &:not(.cate-dailycode) .eyecatch {
      margin-right: -13px;
      margin-left: -13px;

      .eyecatch-image {
        .img-box {
          height: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .p-article__header {
    h1 {
      font-size: 18px;
      line-height: 28px;
      margin: 0 auto 21px;
    }
  }
}

/* article-footer tag
----------------------------- */
.p-articlefoot-tags {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  background-color: #ebebeb;
  border-radius: 8px;
  margin-bottom: 50px;

  padding: 25px 25px 16px;

  ul {
    text-align: center;
    letter-spacing: -.35em;

    li {
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      white-space: normal;

      margin: 0 5px 10px;
    }

    li a,
    li a:visited {
      box-sizing: border-box;
      display: block;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e4e4e4;
      color: #1a1a1a;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      letter-spacing: -.02em;
      // padding: 12px 20px;
      padding: 14px 29px;
      border-radius: 23px;
    }
  }
}

@media screen and (min-width: 801px) {
  .p-articlefoot-tags {
    ul {
      li a {
        transition: border .2s;
      }

      li a:hover {
        border: 1px solid #ababab;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .p-articlefoot-tags {
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 20px 25px 12px;

    ul {
      li {
        margin: 0 4px 8px;
      }

      li a,
      li a:visited {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 20px;
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .p-articlefoot-tags {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 16px 20px 9px;

    ul {
      li {
        margin: 0 3px 6px;
      }

      li a,
      li a:visited {
        font-size: 13px;
        line-height: 16px;
        padding: 9px 20px 8px;
        border-radius: 19px;
      }
    }
  }
}

/* article-footer author
----------------------------- */
.p-articlefoot-author {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  margin-bottom: 50px;

  &__head {
    background-color: #ebebeb;
    text-align: center;
    padding: 21px 30px 22px;

    h2 {
      color: #1a1a1a;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
      letter-spacing: .02em;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;

    padding: 30px 29px 15px;
  }

  &__body-left {
    position: relative;
    z-index: 0;
    width: 160px;
    margin-right: 25px;

    .img-box {
      box-shadow: 0 0 0 1px rgba(11, 3, 6, .05) inset;

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
        position: relative;
        z-index: -1;
      }
    }
  }

  &__body-right {
    flex: 1;
    margin-top: -4px;

    h3 {
      color: #1a1a1a;
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
      letter-spacing: .02em;

      margin-bottom: 12px;
    }

    p {
      color: #1a1a1a;
      font-size: 13px;
      line-height: 24px;
      font-weight: normal;
      letter-spacing: .02em;
      margin-bottom: 20px;
      word-break: break-all;
      word-wrap: break-word;
    }

    a,
    a:visited {
      color: $baseLinkColor;
    }
  }
}

@media screen and (min-width: 801px) {
  .p-articlefoot-author {
    &__body-right {
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .p-articlefoot-author {
    margin-bottom: 40px;

    &__head {
      padding: 20px 30px 19px;

      h2 {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__body {
      padding: 30px 22px 13px;
    }

    &__body-left {
      width: 130px;
      margin-right: 22px;
    }

    &__body-right {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 460px) {
  .p-articlefoot-author {
    &__body {
      display: block;
      padding: 30px 23px 15px;
    }

    &__body-left {
      width: 160px;
      margin: 0 auto 27px;
    }

    &__body-right {
      margin-top: 0;

      h3 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .p-articlefoot-author {
    margin-bottom: 30px;

    &__head {
      padding: 17px 25px 16px;

      h2 {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &__body-right {
      h3 {
        font-size: 13px;
        line-height: 22px;

        margin-bottom: 11px;
      }

      p {
        font-size: 13px;
        line-height: 22px;

        margin-bottom: 16px;
      }
    }
  }
}
